* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
}
body {
    overflow-x: hidden;
    font-family: Poppins;
}

#main {
    width: 100lvw;
    min-height: 100lvh;
    background: #252734;
    padding-bottom: 50px;
}

.circle-top, .circle-top::before, .circle-top::after {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

.circle-top::before {
    content: "Read this:";
    width: 300px;
    height: 300px;
    display: block;
    /*transform: translate(-5%,-5%);*/
}

.circle-top {
    width: 350px;
    height: 350px;
    transform: translate(-50%, -50%);
}

.circle-top::after {
    content: "";
    width: 450px;
    height: 450px;
    display: block;
    transform: translate(-10%, -10%);

}

nav {
    display: flex;
    justify-content: space-around;
    width: 80%;
    /*padding-top: 40px;*/
    margin: auto;
    position: fixed;
    top: 10px;
    left: 10%;
    background: #252734;
    border-radius: 40px;
    height: 100px;
    align-items: center;
    z-index: 9;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 40%;
    align-items: center;
}

nav ul li {
    list-style: none;
    color: #858792;
    font-size: 20px;
    cursor: pointer;
    transition: color .3s;
}

nav ul li a:hover {
    color: #fff;
}
nav ul li a {
    display: block;
    color: #858792;
    text-decoration: none;
}

.btn {
    display: block;
    padding: 20px 25px;
    color: #fff;
    border: 1px solid #2e303d;
    border-radius: 30px;
    cursor: pointer;
    transition: all .3s;
    text-decoration: none;
    width: 160px;
    text-align: center;
}

.btn:hover {
    background: #2e303d;
}

#main .content {
    width: 70%;
    margin: auto;
    padding-top: 300px;
    display: flex;
}

#nameBox h3, h2 {
    color: #fff;
}

#nameBox h3 {
    font-size: 4em;
}

#nameBox h2 {
    font-size: 5em;
    width: 100%;

}

#mainInfo p {
    font-size: 2em;
    color: #858792;
    margin-bottom: 200px;
}

#pic {
    text-align: right;
}

#main .content #pic img {
    width: 80%;
}

#socialsBox {
    margin-top: 50px;
    display: flex;
    gap: 10px;
}

#socialsBox .social {
    padding: 10px;
    border: 1px solid #2e303d;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#socialsBox .social:hover {
    background: #2e303d;
}

#socialsBox .social i {
    width: 30px;
    height: 30px;
    display: block;
    background-size: cover;
}

.social i.linkedin {
    background: url('../icons/linkedin.svg');
}

.social i.telegram {
    background: url('../icons/telegram.svg');
}
.social i.github {
    background: url('../icons/github.svg');
}

#burger-icon {
    display: none;
}

@media screen and (max-width: 1200px) {
    nav {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        left: 0;
        box-shadow: 2px 0 5px #222;
        border-radius: 0;
        top: 0;
        box-sizing: border-box;
        padding: 0 20px;
    }

    nav #burger-icon {
        background: url("../icons/burger-menu.svg");
        width: 50px;
        height: 50px;
        cursor: pointer;
        display: block;
    }

    #burger-icon.active {
        background: url("../icons/close.svg");
    }

    nav ul {
        flex-direction: column;
        position: absolute;
        height: 100vh;
        top: -5px;
        left: 0;
        background: #2e303d;
        width: 300px;
        gap: 50px;
        transform: translateX(-100%);
        overflow: auto;
        justify-content: start;
        padding-top: 30px;
        transition: all .3s;
    }

    nav ul.active {
        transform: translateX(0);
    }

    .circle-top, .circle-top::before, .circle-top::after {
        display: none;
    }

    #main .content {
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 100px;
    }

    #pic img {
        width: 50% !important;
    }

    #pic {
        text-align: center;
    }

    #nameBox h2 {
        font-size: 2.6rem;
    }

    #mainInfo p {
        font-size: 1em;
        margin-bottom: 100px;
    }

    #mainSectionBottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #socialsBox {
        margin-top: 0;
    }
}

@media screen and (max-width: 992px) {
    #nameBox h3 {
        font-size: 2.5em;
    }

    #nameBox h2 {
        font-size: 3em;

    }

    #socialsBox {
        justify-content: center;
    }

    #mainInfo .btn {
        margin: auto;
    }

    #mainSectionBottom {
        display: block;
    }

    #socialsBox {
        margin-top: 20px;
    }


}


/*skills sections styles*/


#skillsSection {
    /*height: 100vh;*/
    background: #2A2C39;
    padding: 50px 0;
    box-sizing: border-box;
}

#skillsSection h1 {
    font-size: 40px;
    color: #fff;
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
}

#skills, #langs {
    width: 90%;
    margin: auto;
    display: flex;
    gap: 10%;
    margin-left: 10%;
    flex-wrap: wrap;

}

.skill, .lang {
    width: 40%;
    height: 50px;
    text-align: center;
    color: #fff;
    border: 1px solid #484853;
    line-height: 50px;
    box-shadow: 0 0 5px #2e303d;
    border-radius: 5px;
    margin: 10px 0;
}

.skill:hover, .lang:hover {
    background: #2e303d;
}

@media screen and (max-width: 768px) {
    .skill, .lang {
        width: 90%;
    }
}


#projectsSection {
    background: #252734;
    padding: 50px 0;
}

#projectsSection h1 {
    font-size: 40px;
    color: #fff;
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
}


#projectsSlider {
    width: 80%;
    margin: auto;
    background: #252734;
    border-radius: 30px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}


.project {
    width: 400px;
    height: 400px;
    margin: 10px;
    background: #2A2C39;
    border-radius: 15px;
    box-shadow: 0 0 10px #201f1f;
}

.project h3 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    line-height: 3em;
}

.project p.project_desc {
    box-sizing: border-box;
    color: #fff;
    padding: 1rem;
    text-align: center;
    overflow: hidden;
    max-height: 160px;
    height: 160px;
    line-height: 2rem;

}

.project .btn-open-project {
    position: relative;
    bottom: -30px;
    transform: translateX(50%);
    box-shadow: 0 0 5px #00000038;

}
@media screen and (max-width: 480px) {
    .project h3{
        font-size: 1.6em;
    }
    .project .btn-open-project{
        transform: translateX(25%);
    }
}
#contactSection {
    height: 40vh;
    background: #2A2C39;
    padding: 50px 0;
    box-sizing: border-box;
}

#contactBox{
    width: 80%;
    margin: auto;
}
#contactBox h2{
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
}
#contactBox .row span.label{
    color: #fff;
    font-size: 1.6em;
    font-weight: bold;

}
#contactBox .row span.value{
    color: #e6e6e6;
    font-size: 1.2em;
}


